*{
    margin: 0;
}

@font-face {
    font-family: "DM Sans";
    src: url("./assets/fonts/DMSans.ttf");
}

@font-face {
    font-family: "Fraunces";
    src: url('./assets/fonts/Fraunces.ttf');
}

body{
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar{
    height: 100%;
    width: 240px;
    background-color: #0F2D3A;

    padding: 40px 56px;

    display: flex;
    flex-direction: column;

    gap: 28px;
}

.sidebar-h1{
    font-family: 'Fraunces';
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    color: #FBFAF6;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar-wrapper{
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.sidebar-btns-wrapper{
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.sidebar-btn{
    background-color: transparent;
    border: none;

    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #d7e6e8;

    height: 36px;
    padding: 10px;

    width: 100%;
    text-align: left;
}

.sidebar-btn.selected{
    background-color: #1f6b7a;
    color: #fff;
    border-radius: 8px;
}